/* Os vários @font-face são temporarios até eu entender melhor como essa bomba funciona.*/
@font-face {
    font-family: 'headingnow-88heavyitalic';
    src: url(fonts/HeadingNow-88HeavyItalic.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'headingnow-74regular';
    src: url(fonts/HeadingNow-74Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'headingnow-88heavy';
    src: url(fonts/HeadingNow-88Heavy.ttf);
    font-weight: normal;
}



/* Estilização do site */
h1{
    font-family: 'headingnow-88heavyitalic', sans-serif;
    font-size: 80px;
    text-align: center;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 0px;
    
}
body{
    background-color: rgb(255, 143, 7);
    font-family: 'headingnow-74regular', sans-serif;
    font-size: 20px;
}

/*Parâmetros "cliqueaqui"*/
#cliqueaqui{
    text-align: center;
    margin:auto;
    font-size: 20px;
    color: white;
    font-family: 'headingnow-88heavy', sans-serif;;
    padding: 20px;
    border-radius: 25px;
    background-color: black;
    width: 750px;
}
@media screen {
    #cliqueaqui:hover{
        color: yellow
    }
}



#resultado{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-88heavy', sans-serif;
    opacity: 75%;
}

#inc{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 20px;
}

#aboboras{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 5px;
}

#img{
    display:block;
    margin: auto;
}

#nome{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 20px;
}

#letras{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 20px;
}

#easteregg{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 20px;
}

#calculo{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 20px;
}

#tamanhocalculo{
    text-align: center;
    font-size: 20px;
    font-family: 'headingnow-74regular', sans-serif;
    margin-top: 20px;
}







/* Responsividade */
@media screen and (max-width: 705px){
    h1{
        font-size: 40px;
    }
    body{
        font-size: 15px;
    }
    #cliqueaqui{
        font-size: 15px;
        width: 300px;

    }
    #resultado{
        font-size: 15px;
    }
    #inc{
        font-size: 15px;
    }
    #aboboras{
        font-size: 15px;
    }
    #img{
        width: 50%;
        width: 290px;;
    }
    #nome{
        font-size: 15px;
    }
    #letras{
        font-size: 15px;
    }
    #easteregg{
        font-size: 15px;
    }
    #calculo{
        font-size: 15px;
    }
    #tamanhocalculo{
        font-size: 15px;
    }
    
}



