/* Os vários @font-face são temporarios até eu entender melhor como essa bomba funciona.*/
@font-face {
    font-family: 'headingnow-88heavyitalic';
    src: url(fonts/HeadingNow-88HeavyItalic.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'headingnow-74regular';
    src: url(fonts/HeadingNow-74Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'headingnow-88heavy';
    src: url(fonts/HeadingNow-88Heavy.ttf);
    font-weight: normal;
}



/* Estilização do site */
h1{
    font-family: 'headingnow-88heavyitalic', sans-serif;
    font-size: 80px;
}
body{
    background-color: rgb(255, 154, 52);
    font-family: 'headingnow-74regular', sans-serif;
    font-size: 20px;
}